{% extends 'base.html' %}

{% block content %}
	
	<div class="header-container">
		<div class="row">
			<div class="span9">
				<div class="span4">
					<h1 class="logo">THOUGHT</h1>
				</div>
				<div class="span5">
					<div class="navbar">
		 				 <div class="navbar-inner"><!-- style="margin-top: 30px;"> -->
						    <a class="brand" href="/blog/">Blog</a>
					 	    <ul class="nav">
					 	      <li class="active"><a href="/blog/archives/">Archives</a></li>
					 	      <li><a href="/blog/tag/{{tag}}">Tags</a></li>
					 	      <li><a href="/blog/resume/">Resume</a></li>
					 	      <li><a href="#">About me</a></li>
					 	     </ul>
	 	 				</div>
	 				</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="body-container">
		<div class="row">
			<div class="span3"></div>
			<div class="span6">
				{% for thought in thoughts %}
					<h3 class="title-header"><a href="/blog/{{post}}">{{thought.title}}</a></h3>
							<ul>
								<li>
								on {{thought.created}}
								</li>
							</ul>
							<hr>
				{% endfor %}
			</div>
		</div>
	</div>
	

{% endblock %}

