{% extends 'base.html' %}

{% block content %}
	
	<div class="header-container">
		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="/blog/">Blog</a>
	 	    <ul class="nav">
	 	      <li class="active"><a href="/blog/archives/">Archives</a></li>
	 	      <li><a href="/blog/tag/{{tag}}">Tags</a></li>
	 	      <li><a href="/blog/resume/">Resume</a></li>
	 	      <li><a href="#">About me</a></li>
	 	    </ul>
	 	  </div>
	 	</div>
	</div>

	<div class="body-container">
		<div class="row">
			<img src="../static/signups/images/thought1.jpg" title="That`s me!" alt="My Profile">
		</div>
	</div>
	

{% endblock %}

